@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default arrow */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding-right: 2.5rem; /* Adjust padding to make space for custom icon */
} /* Custom arrow 
select::after {
  content: "U+2304";
  position: absolute;
  margin-left: 16px;
  margin-top: 11px;
} */
/* Container to position the select and custom arrow 
.select-container {
  position: relative;
  display: inline-block;
}*/
